{% load static %}
<!-- ##### FOOTER #####-->
<div class="footer-counter extend">
    <span class="round"></span>
    <div>
      <div class="counter-wrap">
        <div class="container max-md">
          <h3 class="use-text-title"><span class="numscroller" data-min="0" data-max="2" data-increment="1"></span>&nbsp;<span class="numscroller" data-min="0" data-max="234" data-increment="5"></span>&nbsp;<span class="numscroller" data-min="0" data-max="567" data-increment="5"></span></h3>
          <p class="use-text-subtitle2">Users and Counting</p>
        </div>
      </div>
      <div class="action">
        <h4 class="use-text-title2">Ready to get started ?</h4>
        <a class="btn btn-large secondary" href="#">get started</a>
      </div>
    </div>
    <div>
      <footer class="footer-sitemap">
        <div class="container mq-sm-down" data-class="fixed-width">
          <div class="row">
            <div class="col-md-3 col-sm-12 pa-lg-4 logo-area">
              <div class="logo">
                <span class="logo-main landscape large"><img src="{% static 'assets/images/logo-cloud.png' %}" alt="logo"/>Cloud</span>
              </div>
              <p class="body-2">Web hosting made easy &amp; affordable! FREE Get Your Domain On! 1 Year Domain Registration on Shared Annual Plans</p>
              <p class="body-2 hidden-sm-down">&copy; Nirwana Theme 2022</p>
            </div>
            <div class="col-md-6 col-sm-12 pa-4">
              <ul class="show-sm-down collapsible">
                <li class="accordion-content">
                  <div class="collapsible-header">
                    <h6 class="title">Company</h6><i class="material-icons right arrow">expand_more</i>
                  </div>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="#team">Team</a></li>
                      <li><a href="#history">History</a></li>
                      <li><a href="#contact-us">Contact us</a></li>
                      <li><a href="#locations">Locations</a></li>
                    </ul>
                  </div>
                </li>
                <li class="accordion-content">
                  <div class="collapsible-header">
                    <h6 class="title">Resources</h6><i class="material-icons right arrow">expand_more</i>
                  </div>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="#resource">Resource</a></li>
                      <li><a href="#resource-name">Resource name</a></li>
                      <li><a href="#another-resource">Another resource</a></li>
                      <li><a href="#final-resource">Final resource</a></li>
                    </ul>
                  </div>
                </li>
                <li class="accordion-content">
                  <div class="collapsible-header">
                    <h6 class="title">Legal</h6><i class="material-icons right arrow">expand_more</i>
                  </div>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="#privacy-policy">Privacy policy</a></li>
                      <li><a href="#terms-of-use">Terms of use</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              <div class="row show-md-up justify-content-around">
                <div class="col pa-4 site-map-item">
                  <h6 class="title mb-4">Company</h6>
                  <ul>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#history">History</a></li>
                    <li><a href="#contact-us">Contact us</a></li>
                    <li><a href="#locations">Locations</a></li>
                  </ul>
                </div>
                <div class="col pa-4 site-map-item">
                  <h6 class="title mb-4">Resources</h6>
                  <ul>
                    <li><a href="#resource">Resource</a></li>
                    <li><a href="#resource-name">Resource name</a></li>
                    <li><a href="#another-resource">Another resource</a></li>
                    <li><a href="#final-resource">Final resource</a></li>
                  </ul>
                </div>
                <div class="col pa-4 site-map-item">
                  <h6 class="title mb-4">Legal</h6>
                  <ul>
                    <li><a href="#privacy-policy">Privacy policy</a></li>
                    <li><a href="#terms-of-use">Terms of use</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 pa-4">
              <div class="socmed">
                <a class="btn btn-icon waves-effect"><span class="ion-social-facebook icon"></span></a>
                <a class="btn btn-icon waves-effect"><span class="ion-social-twitter icon"></span></a>
                <a class="btn btn-icon waves-effect"><span class="ion-social-instagram icon"></span></a>
                <a class="btn btn-icon waves-effect"><span class="ion-social-linkedin icon"></span></a>
              </div>
              <div class="select-lang select-outlined">
                <select class="select" id="lang_select">
                  <option value="ar">󠁥󠁮󠁧󠁿العربيّة</option>
                  <option value="de">Deutsch</option>
                  <option value="en" selected>English</option>
                  <option value="id">󠁥󠁮󠁧󠁿Bahasa Indonesia</option>
                  <option value="pt">󠁥󠁮󠁧󠁿Português</option>
                  <option value="zh">简体中文</option>
                </select>
              </div>
              <p class="body-2 mt-5 text-center hidden-md-up">&copy; Nirwana Theme 2022</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="building-deco-footer">
      <img class="img-2d3d img-left" src="{% static 'assets/images/cloud/building_deco_footer_side_3d@2x.png' %}" data-2d="./assets" data-3d="{% static 'assets/images/cloud/building_deco_footer_side_3d@2x.png' %}" alt="building" />
      <img class="img-2d3d img-center" src="{% static 'assets/images/cloud/building_deco_footer_center_3d@2x.png' %}" data-2d="./assets" data-3d="{% static 'assets/images/cloud/building_deco_footer_center_3d@2x.png' %}" alt="building" />
      <img class="img-2d3d img-left" src="{% static 'assets/images/cloud/building_deco_footer_side_3d@2x.png' %}" data-2d="./assets" data-3d="{% static 'assets/images/cloud/building_deco_footer_side_3d@2x.png' %}" alt="building" /></div>
  </div><!-- ##### END FOOTER #####-->